body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

body > div {
  margin: auto;
  width: 55%;
  overflow: auto;
}

h1 {
  text-align: center;
}

h2 {
  width: 700px;
  border: 4px solid red;
  border-radius: 10px;
  background-color: #ff9966;
  color: red;
  text-align: center;
  padding: 5px;
  margin: auto;
}

h2 > a {
  text-decoration: none;
  border: 1px solid red;
  padding: 2px;
  border-radius: 10px;
}

h2 > a:hover {
  border: 1px ridge red;
  background-color: white;
}

#container1 {
  width: 640px;
  padding: 5px;
  border: 4px #333 solid;
  border-radius: 10px;
  float: center;
}

.start-stop {
  margin-top: 15px;
}

.start-stop > a {
  background-color: aqua;
  border: 2px ridge black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
}

.start-stop :last-child {
  right: 40px;
}

#canvas-parent {
  display: grid;
  grid-template: 1fr / 1fr;
}

#canvas-parent > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#captureCanvas {
  z-index: 1;
}

#videoElement {
  background-color: #666;
  width: 640px;
  height: 480px;
  z-index: 2;
}

#drawCanvas {
  z-index: 3;
}

#container2 {
  width: 200px;
  border: 4px solid #333;
  border-radius: 10px;
  float: right;
}

#container2 > h4 {
  padding-left: 15px;
  margin-top: 15px;
  text-decoration: underline;
}

#container3 > {
  padding-left: 15px;
  margin-top: 15px;
  float: center;
}

#container2 > #analytics > p {
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#container2 > #analytics > p:last-child {
  margin-bottom: 10px;
}

#graph-parent {
  border: 4px solid #333;
  border-radius: 10px;
  margin-bottom: 10px;
}

#graph-parent > h3 {
  padding-left: 15px;
  text-decoration: underline;
}

#graph {
  width: 750px;
  height: 650px;
}

#graph > svg {
  padding-left: 20px;
}

.title-nav {
  font-size: 30px;
  font-weight: 600;
  color: white;
  display: inline;
  font-family: Helvetica, sans-serif;
}

.title-nav1 {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline;
  font-family: Helvetica, sans-serif;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
}

.title-nav1:hover {
  transform: scale(1.05);
  font-size: 20px;
} 

.navi {
  background-color: rgba(107, 107, 107, 0.134);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 7px;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.navibar::after {
  content: "";
  display: table;
  clear: both;
}

.hope ul {
  margin-top: 0;
  padding-left: 5%;
  list-style: none;
  text-align: left;
}

.hope li {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}

.hope li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
  font-family: Glorify;
  transition: 0.3s;
}

.hope li a:hover {
  color: rgb(255, 255, 255);
  font-size: larger;
  padding: auto;
  text-decoration: none;
}

.dropdown-item:hover {
  color: rgb(0, 0, 0);
  font-size: larger;
  padding: auto;
  text-decoration: none;
}

.hope a .o {
  margin-bottom: 0px;
}

.hope ul .pls {
  padding-left: 300px;
}

.hope ul .plss {
  padding-right: 350px;
}

@media screen and (min-width: 767px) {
  .navbar-toggler {
    margin: 0px !important;
  }
}

/* @media screen and (max-width: 1345px) {
  .navbar-collapse{
    display: none !important;
  }
}  */

ul.dropdown-menu.show {
  background-color: #262626;
  text-decoration: none;
}